form {
  position: fixed;
  z-index: 1000;
  top: 10px;
  left: 10px;

  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #4d4d4d;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
  background-color: #363636;
  box-shadow: 0 0 10px 0 #000;
  color: #fff;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type='color'] {
  padding: 0;
  border: none;
  width: 100%;
  height: 40px;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}